* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

/* COMMON ------------------------------------------------------------------------------------------ */

body {
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

button {
  cursor: pointer;
  padding: 0;
}

.backlink,
.main-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.backlink-text {
  margin-bottom: 24px;
}

.backlink:hover {
  color: #4e75ff;
}

.main-link:hover {
  color: #4e75ff;
}

/* TASK 1 ------------------------------------------------------------------------------------------- */

.cat-list-item {
  width: 392px;
  border-radius: 8px;
  padding: 16px 16px;
  width: 392px;
  background-color: #f6f6fe;
  margin-bottom: 24px;
  padding: 16px 16px;
}

.cat-list-item-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.cat-sub-list-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 8px;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
}

/* TASK 2 ------------------------------------------------------------------------------------------- */

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  li {
    width: 360px;
    object-fit: cover;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* TASK 3 ----------------------------------------------------------------------------------------- */

.task-3-input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 16px;
  outline: none;
}

.task-3-input:hover {
  border: 1px solid #000;
}

.task-3-input:active {
  border: 1px solid #808080;
}

.task-3-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

/* TASK 4 ------------------------------------------------------------------------------------------------ */

.login-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.task-4-label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.task-4-input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
}

.task-4-input:hover {
  border: 1px solid #000;
}

.task-4-input:active {
  border: 1px solid #808080;
}

.task-4-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  background: #4e75ff;
  outline: none;
  border: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-4-btn:hover,
.task-4-btn:focus {
  background: #6c8cff;
}

/* TASK 5 ----------------------------------------------------------------------------------------- */

.widget-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.change-color {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  outline: none;
  border: transparent;
  border-radius: 8px;
  padding: 8px 16px;
  width: 148px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4e75ff;
}

.change-color:hover,
.change-color:focus {
  background: #6c8cff;
}
